aiohttp>=3.9.5
beautifulsoup4>=4.12.3
hachoir
numpy>=1.24.0
Pillow>=9.2.0
pyrofork
requests>=2.31.0
tgcrypto
yt-dlp
olefile
motor
pymongo==3.12.0
dnspython>=2.7.0
ffmpeg-python>=0.2.0
ffmpeg
psutil>=6.1.0
loggers
filetype
tldextract
aiofiles
pyromod==1.2
flask>=3.1.0
gunicorn==20.1.0
pyrogram>=2.0.106


Jinja2==3.0.3
werkzeug==2.0.2
itsdangerous==2.0.1
motor[srv]
datetime
pytz
bs4
